.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Space between cards */
  justify-content: center; /* Center the cards */
  padding: 20px;
  background: grey;
 min-height: calc(100vh - 80px);
}

.card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  box-sizing: border-box;
  text-align: center;
  margin: 10px;
}

.card h3 {
  margin-top: 0;
  font-size: 1.25rem;
  color: #333;
}

.card p {
  margin: 8px 0;
  font-size: 0.9rem;
  color: #666;
}

.card p strong {
  color: #333;
}
